body{
    font-family: 'Mukta', sans-serif;
}


#center{
    text-align: center;
    border-radius: 15px;
    border: 4mm ridge rgba(170, 50, 220, .6); 
    background-color: rgb(231, 213, 207);
    color: rgb(99, 153, 55);
    text-shadow: 1px 1px red;
}
.color{
    color: darkorange;
}
.flexible{
    display: flex;
    margin: 100px;
}
.paragraph{
    width: 50%;
    padding-left: 5%;

}
.picture{

    width: 50%;
    padding: 5%;
    
}
.picture{
    max-width: 50%;
    padding-right: 5%;
}
.link-button{
    text-decoration: none;
    background-image: radial-gradient(red, green);
    padding: 10px 50px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}
