body{
    font-family: 'Mukta', sans-serif;
}


#center{
    text-align: center;
    border-radius: 15px;
    border: 4mm ridge rgba(60, 17, 78, 0.6); 
    background-color: rgb(231, 213, 207);
    color: rgb(99, 153, 55);
    text-shadow: 1px 1px red;
}
.color{
    color: hsl(330, 81%, 42%);
}
.text{
    text-shadow:1px 1px rgb(88, 39, 204);
}
.flexible{
    display: flex;
    margin: 100px;
}
.paragraph{
    width: 50%;
    padding-left: 5%;
}
.box-style{
    box-shadow: 10px 5px 5px turquoise;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: justify;
    border-style: inset;
    background-image: linear-gradient(rgb(243, 205, 241),rgb(231, 241, 169));

}
.picture{

    width: 50%;
    padding: 5%;
    
}
.picture{
    max-width: 50%;
    padding-right: 5%;
}
.link-button{
    text-decoration: none;
    background-image: radial-gradient(red, green);
    padding: 10px 50px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}
